<style>
        body {
            display: flex;
            flex-direction: horizontal;
        }

        .name {
            position: absolute;
            width: 450px;
            height: 100px;
            left: 450px;
            top: -20px;

            font-family: Cambria;
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height:60px;
            text-align: center;

            color: #DE4444;
        }


        .desc {
            position: absolute;
            width: 500px;
            height: 600px;
            left: 850px;
            top: 190px;

            font-family: Cambria;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 44px;

            color: #DE4444;
        }


        .pp {
            position: absolute;
            width: 780px;
            height: 550px;
            left: 285px;
            top: 70px;
            z-index:3;
        }


        .innercircle {
            position: absolute;
            width: 250px;
            height: 250px;
            left: 550px;
            top: 220px;
            border-radius: 50%;
            z-index:2;

            background: #1D2838;
        }


        .outercircle {
            position: absolute;
            width: 270px;
            height: 270px;
            left: 540px;
            top: 210px;
            border-radius: 50%;
            z-index:1;

            background: #DE4444;
        }


        .npm {
            position: absolute;
            width: 279px;
            height: 65px;
            left: 130px;
            top: 250px;

            font-family: Cambria;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 58px;
            text-align: center;

            color: #DE4444;
        }


        .uni {
            position: absolute;
            width: 200px;
            height: 81px;
            left: 140px;
            top: 190px;

            font-family: Cambria;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 30px;
            text-align: center;

            color: #DE4444;
        }

        .makara {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 320px;
            top: 217px;
        }


        .hobby {
            position: absolute;
            width: 234px;
            height: 69px;
            left: 145px;
            top: 340px;

            font-family: Cambria;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 58px;
            text-align: center;

            color: #DE4444;
        }


        .hobby1 {
            position: absolute;
            width: 264px;
            height: 44px;
            left: 145px;
            top: 390px;

            font-family: Cambria;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 44px;
            /* identical to box height */

            text-align: center;

            color: #DE4444;
        }

        .point1 {
            position: absolute;
            width: 5px;
            height: 5px;
            left: 185px;
            top: 430px;
            border-radius: 50%;


            background: #DE4444;
        }


        .hobby2 {
            position: absolute;
            width: 231px;
            height: 44px;
            left: 152px;
            top: 420px;

            font-family: Cambria;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 44px;
            /* identical to box height */

            text-align: center;

            color: #DE4444;
        }

        .point2 {
            position: absolute;
            width: 5px;
            height: 5px;
            left: 185px;
            top: 460px;
            border-radius: 50%;

            background: #DE4444;
        }

        .ig {
            position: absolute;
            width: 70px;
            height: 55px;
            left: 640px;
            top: 590px;
            z-index:2;
        }


        .igcircle {
            position: absolute;
            width: 210px;
            height: 210px;
            left: 570px;
            top: 570px;
            border-radius: 50%;
            z-index:1;

            background: #DE4444;
        }


        .fb {
            position: absolute;
            width: 45px;
            height: 45px;
            left: 253px;
            top: 590px;
            z-index:2;
        }


        .fbcircle {
            position: absolute;
            width: 210px;
            height: 210px;
            left: 170px;
            top: 570px;
            border-radius: 50%;
            z-index:1;

            background: #DE4444;
        }


        .steam {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 1080px;
            top: 590px;
            z-index:2;
        }


        .steamcircle {
            position: absolute;
            width: 210px;
            height: 210px;
            left: 1000px;
            top: 570px;
            border-radius: 50%;
            z-index:1;

            background: #DE4444;
        }

        .rect1 {
            position: absolute;
            width: 450px;
            height: 10px;
            left: 0px;
            top: 70px;

            background: #DE4444;
        }

        .rect2 {
            position: absolute;
            width: 450px;
            height: 10px;
            left: 0px;
            top: 100px;

            background: #DE4444;
        }

        .rect3 {
            position: absolute;
            width: 450px;
            height: 10px;
            left: 920px;
            top: 70px;

        background: #DE4444;
        }

        .rect4 {
            position: absolute;
            width: 450px;
            height: 10px;
            left: 920px;
            top: 100px;

            background: #DE4444;
        }
    </style>